.App {
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 30px;
  color: rgb(94, 94, 94);
  border-bottom: rgb(233, 231, 231) 1px solid;
  padding: 5px;
  font-family: Montserrat;
}

.logo {
  width: 150px !important;
  height: 30px;
  object-fit: contain;
  border-radius: 0 !important;
}
