.App {
  text-align: left;
}

.mainpage {
  background: rgb(16, 16, 16);
}

body {
  background: rgb(0, 0, 0);
  color: rgb(196, 196, 196);
}

h2 {
  margin: 0;
  font-size: 30px;
  color: rgba(252, 251, 255, 0.995);
  padding: 5px;
  font-family: Raleway;
}

h4 {
  color: rgba(66, 133, 244, 1);
  font-size: 25px;
}

h5 {
  color: rgba(66, 133, 244, 1);
}

.logo {
  width: 100px !important;
  height: 30px;
  border-radius: 0 !important;
}

.btn-primary {
  outline: solid rgb(0, 255, 251) 1px;
  background: linear-gradient(
    150deg,
    rgb(85, 1, 255) 10%,
    rgb(0, 250, 212) 100%
  );
  font-weight: 700;
}

.btn-primary:hover {
  background: rgb(85, 1, 255);
  color: rgb(0, 255, 251);
}

.card-container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
