.App {
  text-align: center;
}

.mainpage {
  background: rgb(16, 16, 16);
}

body {
  background: rgb(0, 0, 0);
}

h2 {
  margin: 0;
  font-size: 30px;
  color: rgba(34, 0, 255, 0.303);
  border-bottom: rgb(233, 231, 231) 1px solid;
  padding: 5px;
  font-family: Montserrat;
}

.logo {
  width: 100px !important;
  height: 30px;
  border-radius: 0 !important;
}

.btn-primary {
  outline: solid rgb(0, 255, 251) 1px;
  background: linear-gradient(
    150deg,
    rgb(85, 1, 255) 10%,
    rgb(0, 250, 212) 100%
  );
}

.btn-primary:hover {
  background: #b1b122;
  color: white;
}
