.App {
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 3rem;
  color: rgb(31, 31, 31);
  padding: 5px;
}

.logo {
  width: 150px !important;
  height: 30px;
  object-fit: contain;
  border-radius: 0 !important;
}
